* {
  box-sizing: border-box;

  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  font-family: 'Alegreya', serif;
}

.clearfix::after {
  display: table;
  clear: both;

  content: '';
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.page-header {
  position: relative;

  padding-bottom: 214px;

  border-bottom: 10px solid white;
  background: #574637 url('./img/header-img.jpg');
  background-size: cover;
  box-shadow: 0 8px 9px rgba(0,0,0,.17);
}

.page-header::after {
  position: absolute;
  bottom: -5px;
  left: 50%;

  box-sizing: border-box;
  width: 106px;
  height: 106px;

  animation: pullDown 3s infinite;
  content: '';
  transform: translate(-50%, 50%);

  border-radius: 50%;
  background: url('./img/header-dot.png'), radial-gradient(circle at center, white 42px, rgba(0,0,0,.17) 43px, transparent 50px);
}

.page-header__nav {
  background-color: rgba(86, 83, 76, .53);
}

.page-header__nav .container {
  display: flex;

  justify-content: space-between;
}

.page-header__menu-item,
.page-header__socials-item {
  display: inline-block;

  vertical-align: top;
}

.page-header__menu-link {
  font-size: 14px;

  position: relative;

  display: block;

  padding: 25px 48px 25px 38px;

  animation: focus 3s;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.page-header__menu-link::after {
  position: absolute;
  top: 50%;
  right: 0;

  content: '~';
  transform: translateY(-50%);

  color: white;
}

.page-header__menu-link--logo {
  padding-top: 18px;
  padding-right: 65px;
  padding-bottom: 1px;
  padding-left: 0;
}

.page-header__menu-link--logo::after {
  content: none;
}

.page-header__socials-link {
  position: relative;

  display: block;

  width: 40px;
  height: 70px;
}

.page-header__socials-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: '';
  transform: translate(-50%, -50%);
}

.page-header__title {
  font-family: 'Playfair Display', serif;
  font-size: 92px;
  font-weight: 700;

  position: relative;

  display: block;

  margin-top: 187px;
  padding-bottom: 63px;

  text-align: center;
  letter-spacing: 6px;

  color: #fff;
  text-shadow: 0 1px 0 #3d3029;
}

.page-header__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;

  content: '';
  transform: translateX(-50%);
}

.page-header__subtitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;

  width: 490px;
  margin: 0 auto 58px;

  text-align: center;

  color: #fff;
  text-shadow: 0 1px 0 #3d3029;
}

.page-header__menu-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  display: block;

  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 12px;

  animation: focus 3s;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;

  border: 1px dashed #9e9c93;
  background-color: rgba(86, 83, 76, .53);
}

.art-of-cakes {
  padding-top: 88px;
  padding-bottom: 100px;

  background: url('./img/bg-art-texture.jpg');
  background-size: cover;
}

.art-of-cakes__left {
  float: left;

  width: 50%;  
}

.art-of-cakes__left.animated {
  animation: focus 3s;
}

.art-of-cakes__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;

  margin: 0;
  margin-bottom: 5px;

  text-align: center;

  color: #56534c;
}

.art-of-cakes__subtitle {
  font-size: 14px;

  margin: 0 0 58px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #a47d5e;
}

.art-of-cakes__text {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  width: 484px;
  margin: 0 auto;
  margin-bottom: 34px;

  letter-spacing: 2px;

  color: #56534c;
}

.art-of-cakes__title--small {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  width: 107px;
  margin: 0 auto;

  color: #56534c;
}

.art-of-cakes__chef {
  display: flex;

  padding-top: 37px;

  justify-content: center;
  align-items: flex-start;
}

.art-of-cakes__name {
  font-size: 24px;

  margin: 26px 3px 0;
  padding: 13px 25px 11px;

  color: #56534c;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
}

.art-of-cakes__quote {
  display: block;

  margin: 5px auto 0;
}

.art-of-cakes__right {
  margin-top: 22px;
}

.tasty-pancakes {
  padding-top: 140px;
  padding-bottom: 108px;

  background: #e8eae6 url('./img/bg-tasty-pancakes.jpg');
  background-size: cover;
}

.tasty-pancakes__widget {
  position: relative;

  display: flex;

  width: 916px;
  margin: 0;
  margin-left: 145px;

  background: #fff;
  box-shadow: 6px 6px 13px rgba(0,0,0,.47);
}

.tasty-pancakes__image {
  float: left;

  margin-left: -50px;
}

.tasty-pancakes__right {
  position: relative;

  float: right;

  width: 546px;
  margin-left: -165px;
  padding-top: 65px;
  padding-right: 59px;
  padding-left: 62px;

  background: #fff url('./img/windmill.png') 100% 100% no-repeat;
  box-shadow: -1px 0 5px rgba(0,0,0,.46);
}

.tasty-pancakes__title,
.tasty-pancakes__text {
  color: #56534c;
}

.tasty-pancakes__title {
  font-size: 48px;
  font-weight: 700;

  margin: 0;
}

.tasty-pancakes__subtitle {
  font-size: 14px;
  font-weight: 700;

  margin: 0 0 60px;

  text-transform: uppercase;

  color: #a47d5e;
}

.tasty-pancakes__text {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  width: 400px;
  margin-top: 21px;
  margin-bottom: 100px;

  letter-spacing: 2px;

  color: #56534c;
}

.tasty-pancakes__widget .timing-element {
  position: absolute;
  top: -45px;
  right: -107px;
}

.tasty-pancakes__item {
  display: inline-block;

  margin: 0 15px;

  vertical-align: top;
}

.tasty-pancakes__items-list {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.tasty-pancakes__items-list.animated .tasty-pancakes__item { animation: focus 2s; }

.tasty-pancakes__item--paginator:hover {
  opacity: .7;
}

.tasty-pancakes__item--paginator {
  width: 32px;
  height: 32px;
  margin: 0;

  cursor: pointer;
}

.tasty-pancakes__menu-button {
  position: absolute;
  z-index: 2;
  top: 232px;
  left: 345px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background: white;
  box-shadow: -1px 0 5px rgba(0,0,0,.46);
}

.tasty-pancakes__menu-button:hover {
  opacity: 1;
  box-shadow: -1px 0 25px rgba(0,0,0,.36);
}

.tasty-pancakes__menu-button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: '';
  transform: translate(-50%, -50%);
}

.tasty-pancakes__stars {
  position: absolute;
  top: 182px;
  left: -20px;
}

.tasty-pancakes__star {
  width: 21px;
  height: 21px;
  margin: 5px 0;
}

.breakfast {
  position: relative;

  padding-top: 80px;
  padding-bottom: 70px;

  background: url('./img/bg-breakfast.png');
  background-color: #434554;
  background-size: cover;
}

.breakfast::before {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;

  width: 346px;
  height: 220px;

  content: '';

  background: url('./img/breakfast__right-decoration.png');
  background-size: cover;
}

.breakfast__left {
  float: left;

  width: 733px;

  text-align: center;
}

.breakfast__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 64px;

  margin: 0;

  letter-spacing: 5px;
}

.breakfast__subtitle {
  font-size: 18px;
  font-weight: 700;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #c8a593;
}

.breakfast__list {
  padding-top: 18px;
}

.breakfast__list-item {
  margin-top: 37px;
}

.breakfast__item-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;

  letter-spacing: 2px;
}

.breakfast__item-subtitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 36px;

  letter-spacing: 2px;

  color: #c2beba;
}

.breakfast__item-price {
  font-size: 36px;

  margin-top: 2px;

  color: #dfc691;
}

.breakfast__right {
  position: relative;

  float: right;
}

.food-menu {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;

  float: right;
  overflow: hidden;

  width: 440px;
  height: 600px; /* yep! hardcode*/
  padding: 40px;

  text-align: center;

  background: url('./img/bg-food-menu.png');
  background-size: cover; /* yep! hardcode*/
}

.food-menu.animated {
  animation: slideLeft 2s;
}

.food-menu--middle {
  z-index: 2;
  right: -30px;

  transform: scale(.92);

  opacity: .7;
}

.food-menu--middle.animated {
  animation: slideLeft 2.5s;
}

.food-menu--bottom {
  z-index: 1;
  right: -60px;

  transform: scale(.84);

  opacity: .5;
}

.food-menu--bottom.animated {
  animation: slideLeft 3s;
}

.food-menu__header span,
.food-menu__title,
.food-menu__text {
  color: #56534c;
}

.food-menu__header,
.food-menu__title {
  font-weight: 700;
}

.food-menu__header,
.food-menu__text {
  font-size: 14px;
  line-height: 30px;

  letter-spacing: 1px;
}

.food-menu__header {
  position: relative;

  display: flex;

  padding-bottom: 60px;

  text-transform: uppercase;

  justify-content: space-around;
  flex-wrap: wrap;
}

.food-menu__header::after {
  display: block;

  width: 100%;
  height: 60px;

  content: '';

  background: url('./img/food-menu__top-line.png');
  background-size: cover;
}

.food-menu__title {
  font-size: 44px;
  line-height: 60px;

  margin-bottom: 27px;
}

.food-menu__button {
  font-size: 18px;
  font-weight: 700;

  display: block;

  width: 190px;
  margin: 46px auto 0;
  padding: 13px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #a47d5e;
  border: 1px solid #9e9c93;
}

.jibarito-sandwich {
  padding-top: 87px;

  background: #f3f1e9 url('./img/bg-jibrato.png') no-repeat top center;
}

.jibarito-sandwich__title {
  font-size: 48px;
  font-weight: 700;

  text-align: center;
  letter-spacing: 3px;

  color: #56534c;
}

.jibarito-sandwich__subtitle {
  font-size: 14px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #a47d5e;
}

.jibarito-sandwich__features-list {
  float: left;

  width: 290px;

  text-align: center;
}

.jibarito-sandwich__features-list.animated .jibarito-sandwich__feature { animation: slideRight 2s; }
.jibarito-sandwich__features-list.animated .jibarito-sandwich__feature:nth-of-type(2) { animation: slideRight 2.2s; }
.jibarito-sandwich__features-list.animated .jibarito-sandwich__feature:nth-of-type(3) { animation: slideRight 2.4s; }

.jibarito-sandwich__feature {
  margin-bottom: 55px;
}

.jibarito-sandwich__feature-image {
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0,0,0,.10);
}

.jibarito-sandwich__item-title {
  font-size: 30px;
  font-weight: 700;

  margin-top: 10px;
  margin-bottom: 15px;

  letter-spacing: 1px;

  color: #a47d5e;
}

.jibarito-sandwich__item-text {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 2px;

  color: #56534c;
}

.jibrato-sandwich__right {
  position: relative;

  float: right;

  margin-top: 85px;
}

.jibrato-sandwich__timing.animated .timing-element { animation: slideLeft 1.5s; }
.jibrato-sandwich__timing.animated .timing-element:nth-of-type(2) { animation: slideLeft 1.7s; }
.jibrato-sandwich__timing.animated .timing-element:nth-of-type(3) { animation: slideLeft 1.9s; }

.jibrato-sandwich__timing {
  position: absolute;
  top: -23px;
  right: 10px;
}

.jibrato-sandwich__timing .timing-element {
  box-shadow: none;
}

.jibrato-sandwich__timing .timing-element:nth-child(1),
.jibrato-sandwich__timing .timing-element:nth-child(2) {
  margin-bottom: 1px;

  background: rgba(255,255,255,.8);
}

.jibrato-sandwich__right-link {
  font-size: 18px;
  font-weight: 700;

  position: absolute;
  right: 691px;
  bottom: -18px;

  width: 171px;
  padding: 20px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #dfc691;
  border: 1px dashed #dfc691;
  background: white;
}

.jibrato-sandwich__right-image,
.jibrato-sandwich__timing {
  box-shadow: 0 0 18px rgba(0,0,0,.20);
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 70px;

  background: #f3f1e9;
}

.page-footer__menu {
  display: flex;

  justify-content: center;
}

.page-footer__menu-item {
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
}

.page-footer__menu-link {
  font-size: 14px;
  line-height: 24px;

  position: relative;

  display: block;

  width: 171px;
  padding: 25px;

  text-align: center;
  text-transform: uppercase;

  color: #56534c;
  background: rgba(238, 236, 225, .7);
}

.page-footer__menu-item:nth-of-type(1) .page-footer__menu-link::after,
.page-footer__menu-item:nth-of-type(2) .page-footer__menu-link::after,
.page-footer__menu-item:nth-of-type(5) .page-footer__menu-link::after,
.page-footer__menu-item:nth-of-type(6) .page-footer__menu-link::after {
  position: absolute;
  top: 50%;
  right: 0;

  content: '~';
  transform: translateY(-50%);

  color: #56534c;
}

.page-footer__menu-item--logo {
  border: none;
}

.page-footer__menu-link--logo {
  width: auto;
  padding: 23px 45px 0;

  background: none;
}

.page-footer__menu-link--logo::after {
  content: '';
}

/* Timing "40 min to ready..." */
.timing-element {
  width: 200px;
  height: 200px;
  padding: 34px;
  padding-top: 28px;

  text-align: center;

  background: white;
  background: white url('./img/bg-timing.jpg');
  box-shadow: 0 25px 54px rgba(105, 80, 58, .45);
}

.timing-element.animated { animation: slideLeft 1s; }

.timing-element__title,
.timing-element__number--main,
.timing-element__text {
  margin: 0;
}

.timing-element__title {
  font-size: 18px;
  font-weight: 700;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #a47d5e;
}

.timing-element__number {
  font-size: 60px;
  font-weight: 700;

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #56534c;
}

.timing-element__number--main {
  font-size: 92px;
  font-weight: 700;
  line-height: 92px;

  margin-top: 5px;

  color: #dfc691;
}

.timing-element__text {
  font-size: 18px;
  line-height: 23px;

  letter-spacing: 1px;

  color: #979285;
}

/* Sprite */
.page-header__socials-link::before,
.page-header__title::after,
.tasty-pancakes__menu-button::before,
.tasty-pancakes__star,
.paginator--left,
.paginator--right {
  display: block;

  background-image: url('./img/sprite.png');
  background-repeat: no-repeat;
}

.page-header__title::after {
  width: 190px;
  height: 12px;

  background-position: -5px -5px;
}

.page-header__socials-link--facebook::before {
  width: 8px;
  height: 15px;

  background-position: -5px -27px;
}

.page-header__socials-link--instagram::before {
  width: 14px;
  height: 17px;

  background-position: -23px -27px;
}

.page-header__socials-link--twitter::before {
  width: 16px;
  height: 14px;

  background-position: -47px -27px;
}

.tasty-pancakes__menu-button::before {
  width: 9px;
  height: 16px;

  background-position: -136px -50px;
}

.tasty-pancakes__star--filled {
  background-position: -100px -50px;
}

.tasty-pancakes__star--unfilled {
  background-position: -69px -50px;
}

.paginator--left,
.paginator--right {
  width: 32px;
  height: 32px;
}

.paginator--left {
  background-position: 0 -50px;
}

.paginator--right {
  background-position: -34px -50px;
}

@keyframes focus {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(200px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(-200px);
  }
}

@keyframes pullDown {
  0% {
    transform: translate(-50%, 50%);
  }  
  5% {
    transform: translate(-50%, 70%);
  }
  10% {
    transform: translate(-50%, 45%);
  }
  15% {
    transform: translate(-50%, 50%);
  }
  40% {
    transform: translate(-50%, 50%) rotate(360deg);
  }
  55% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
}
